<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/articles.css' %}">
</head>

<body>
    <div class="wrapper1">
        <div class="content">
            <div class="header">
                <h1>Articles!</h1>
                <h3><a href="/">Back</a></h3>
                <p>Here are some articles you might find helpful or interesting while getting into the mechanical
                    keyboard hobby. Some are reviews of products, while others provide more in-depth information on
                    specific topics. If would like to see an article added to this seciton, feel free to reach out!
                    Happy clacking!</p>
            </div>
            <p><a href="https://www.reddit.com/r/MechanicalKeyboards/">^Reddit</a>  One of the biggest MK communities and
                a great resource for any related topic. There is also a market section where you can sell or buy
                products. Many vendors use this site to set up group buys and introduce new products to the market. </p>
            <p><a href="https://geekhack.org/">^Geekhack</a>    Here you can find tons of information about the mechanical
                keyboard market inclduing meetups, groupbuys, instructionals, ergonomics, and lots more. The community
                has been going strong for many years, and people here can be very helpful if you get stuck on a project.
            </p>
            <p><a href="https://www.techspot.com/tag/keyboard/">^TechSpot</a>   This link will take you to TechSpot which
                has a number of articles about mechanical keyboards on the market, as well as other tech gadgets. They
                put out a few articles a month, and can be helpful in deciding if a product might be worht picking up.
            </p>
            <p><a href="https://deskthority.net/">^Deskthority</a>  Here is a great site that stays fairly current on
                trends in the market. They have a news and reviews section, gallery, and various product articles that
                are very informative. This is a good place to check out for ideas for your own desk set up. </p>
            <h3>If you have an article you would like to see here, feel free to reach out! </h3>
        </div>
    </div>




</body>

</html>