<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/vendors.css' %}">
</head>

<body>
    <div class="wrapper1">
        <div class="content">
            <div class="header">
                <h1>Testing!</h1>
                <h3><a href="/">Back</a></h3>
                <p>Here are a few links to ganes or typing tests! These can be useful when you are tyring to see if all
                    your keys are registering, or if you are trying a new layout and want to see how it's working out.
                    Some people in the community are really into how fast you can type, generally expressed as words per
                    minute (WPM) and there are tons of options online.
                    If would like to see a game or test added
                    to this seciton, feel free to reach out!
                    Happy clacking!</p>
            </div>
            <p><a href="https://www.nitrotype.com/">^NitroType</a> Here is a fun race game that you can play against
                other random people. It gives you WPM and ranks after the race.
            </p>
            <p><a href="https://www.keyhero.com/free-typing-test/">^Type Test</a> Here is a super generic type tester
                that you can use to see how many words per minute you can type correctly.</p>
            <p><a href="https://www.typing.com/student/games">^Typing.com</a> This site is really for kids learning how
                to type, but there are a few fun games to try when you have some down time or want to test a new
                keyboard layout's effeciency.
            </p>
            <p><a href="https://play.typeracer.com/">^Type Racer</a> Here is a site that you can invite friends to and
                race them in a typing game. There is also a scoreboard that people can look at to see how they palced.
            </p>
            <h3>If you have a game you would like to see here, feel free to reach out! </h3>
        </div>
    </div>




</body>

</html>