<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/qmk.css' %}">
</head>

<body>
    <div class="wrapper1">
        <div class="content">
            <div class="header">
                <h1>QMK!</h1>
                <h3><a href="/">Back</a></h3>
                <p>Quantum Mechanical Keyboards (QMK) is a community based firmware development site for programming
                    open source keyboards. This process can be pretty complicated if you do not have programming
                    experience, but their site is very helpful in understanding the process. On the other hand, they
                    have also developed a configurator that makes this process much easier for newcomers. They also have
                    a very active dischord channel that you can get live help from.
                    Happy clacking!</p>
            </div>
            <p><a href="https://novelkeys.xyz/">^QMK configurator</a> This configurator has many preset options for a
                huge variety of keyboards on the market. You can further customize your layout with ease using their
                custom features. I would highly suggest reading up on the flashing process in the documentation before
                trying to flash you keyboard. If you think you have "bricked" your board, chances are you have simply
                done things out of order, so don't panic and remember you can visit discord for help!</p>
            <p><a href="https://docs.qmk.fm/#/">^QMK documentation</a> QMK has done an amazing job of providing
                documentation for how to successfully build firmware for your open source keyboard. While the process is
                fairly complicated, they do their best to break down each step so you can follow along. They also
                provide a great section on how to use Github to share projects, or grab files that you may need for your
                build. I would highly reccomend spending some time on this page before trying to build firmware
                yourself, or use the configurator. Remember to reach out if you get stuck!
            </p>
        </div>
    </div>




</body>

</html>