<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'videos.css' %}">
</head>

<body>
    <div class="wrapper1">
        <div class="content">
            <div class="header">
                <h1>Videos!</h1>
                <h3><a href="/">Back</a></h3>
                <p>Here are some great videos you can check out to get more information about mechanical keyboards. Some
                    of
                    these will be instructional, and some are just fun to check out. The comments for the video will
                    alwawys be below the video it relates to. If you have a favorite video, contact me
                    and I can add it here :) Happy clacking!</p>
            </div>
            <div class="vid">
                <iframe src="https://www.youtube.com/embed/W0FSvTYlggw" frameborder="0" allowfullscreen></iframe>
                <p>^Above is a great how to on building a keyboard. While different boards invlove different parts or
                    build processes, this covers the basics for a starter kit. The board in this video is known as a 60%
                    as it is smaller than a standard 100% keyboard. </p>
            </div>
            <div class="vid">
                <iframe src="https://www.youtube.com/embed/5u1Zpf6pcJI" frameborder="0" allowfullscreen></iframe>
                <p>^This video is a "sound test" video which are becoming more and more popular. A big part of the
                    mechanical keyboard hobbie his how a board sounds! Keyboard: Neuron (aluminum) PCB: Neuron Plate:
                    brass
                    Switches: Gateron Inks (lubed with Krytox 104 on springs and housings, 106 on springs, TX switch
                    films added)
                    Keycaps: JTK Arctic
                    Artisan: JTK Arctic Orochi from Keyforge
                    Foam added between PCB and plate for sound dampening</p>
            </div>
            <div class="vid">
                <iframe src="https://www.youtube.com/embed/tx54jkRC9ZY" frameborder="0" allowfullscreen></iframe>
                <p>^While many keyboards come equipped with software to change layouts or specific key inputs, many
                    "custom" keyboards come "blank" and need to have firmware installed. QMK (quantum mechanical
                    keyboard) is a community based effort to make this process more accessible to beginners. The video
                    above shows how to use the QMK configurator to install firmware onto a keyboard. </p>
            </div>
            <div class="vid">
                <iframe src="https://www.youtube.com/embed/JpV-eJNrXjk" frameborder="0" allowfullscreen></iframe>
                <p>^Like many other hobbies, part of the fun with building a mechanical keyboard is building a skill
                    set. Many keyboard kits come disassembled and require you to actualy solder the components yourself.
                    Whiel this may not sound fun to some, it can be enjoyable with some practice and know how! The above
                    video demonstrates how to solder components properly, and explains what tools would be neccessary.
                </p>
            </div>
            <div class="vid">
                <iframe src="https://www.youtube.com/embed/WHKngZTqAqo" frameborder="0" allowfullscreen></iframe>
                <p>^Mechanical keyboards get their name from their switches being mechanical, and they can come in a
                    wide variety of "styles." Some are make a loud click, orthers are silent, and some feel like a bump
                    when you press them. Here is a video showing how the sound and feel might vary from one type of
                    switch to the next.</p>
            </div>
            <div class="vid">
                <iframe src="https://www.youtube.com/embed/apTfQzbWYTc" frameborder="0" allowfullscreen></iframe>
                <p>^Keycaps are a huge part of they MK experience, and the video above demonstrates how you could make
                    your own "artisan" keycaps. There are many many tutorials online, and as many vendors out there to
                    purchase them from.</p>
            </div>
            <h3>If you have a video you'd like to see featured here, feel free to reach out! </h3>
        </div>
    </div>




</body>

</html>