
.top_row{
    background-color: black;
    width: 970px;
    vertical-align: top;
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    background: #232323;
}
.clack_chat{
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    background: #232323;
    }
.top_left{
    width: 125px;
    display: inline-block;
    height: 300px;
    color: white;
    text-align: center;
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    background: #232323;
    
    
    
}
.top_mid{
    display: inline-block;
    width: 705px;
    height: 300px;
    background-image: url("./kbanimation.gif");
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(3px);
    box-shadow: 0 0 10px 10px #141414;
    border-radius: 120px 120px 120px 120px;
    margin-top: 25px;
}
#admin{
    font-size: x-small;
    display: inline-block;
    margin-left: 90px;
    margin-top: 60px;
    text-align: center;
    position: absolute;
    /* height: 60px;
    width: 90px; */
}
.top_right{
    width: 125px;
    display: inline-block;
    height: 300px;
    color: white;
    text-align: center;
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    background: #232323;
}


.wrapper{
    background-image: url("./keyboardbackground.jpg");
    width: 970px;
    min-height: 970px;
    display: inline-block;
}
.navbar{
    background-color: black;
    padding: 1px 20px;
    width: 930px;
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    background: #232323;
    /* border: 2px solid rgb(2, 192, 192); */
    text-align: center;
}
li a{
    color: white;
    /* margin-left: 10px; */
    text-decoration: none;
}
li{
    display: inline-block;
    padding: 10px;
    color: white;
}    
.message_box{
    background-image: url("./Space_Cadet_-_Yuri_1024x1024@2x.jpg");
    text-align: center;
    vertical-align: top;
    width:966px;
    /* border-radius: 10px; */
    border: 2px solid white;
    color: white;
    display: inline-block;
    border: 2px solid black;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    /* background-color: rgba(34, 34, 34, 0.7); */
}

h2{
    color: white;
    text-align: center;
    /* margin-left: 117px; */
}
/* login and registration page */
.chat_area{
    display: inline-block;
    /* vertical-align: top; */
    width: 946px;
    background-color: rgba(34, 34, 34, 0.7);
    /* border-radius: 10px; */
    border: 2px solid black;
    padding: 10px;
    min-height: 450px;
}
#textarea{
    margin-left: 100px;
    background-color: rgb(236,253,223);
}
#chat_text{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: white

}

#sub_button{
padding: 10px 30px;
margin: 10px;
border-radius: 4px;
display: inline-block;
vertical-align: center;
transition: 1s;
background-color: rgb(236,253,223);
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;

}
#sub_button:hover{
    background-color: black;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    transition: 1s;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 4px;
    color: white;
}

img{
    width: 500px;
    border-radius: 8px;
    /* border: 8px solid black; */
    background-image: linear-gradient(black,rgb(236,253,223),black);
    padding: 6px;
    
}

#destroy{
    text-decoration: none;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: white;
}
#file_picker{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: black;
    background-color: rgb(236,253,223);
    display: none;
}
.message_box input{
    background-color: rgb(59, 17, 42);
}
ul{
    margin-right: 50px;
}

.file_button{
    padding: 10px 30px;
    margin: 10px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: center;
    transition: 1s;
    background-color: rgb(236,253,223);
    text-shadow: 0 0 5px black, 0 0 10px, black, 0 0 15px, black, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: black;
    }
.file_button:hover{
    background-color: black;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    transition: 1s;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 4px;
    color: white;