.wrapper1{
    background-image: url("./kbanimation.gif");
    width: 970px;
    min-height: 900px;
    padding: 20px;
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: contain;
    padding: 10px;

}
p{
    width: 940px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    background:transparent;
    font-size: 18px;
    margin: 10px;
    
}
iframe{
    width: 500px;
    border-radius: 8px;
    /* border: 8px solid black; */
    background-image: linear-gradient(black,rgb(236,253,223),black);
    padding: 6px;
    margin: 10px;

}
h1{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: white;
    text-align: center;
    margin-top: 25px;
}
.header{
    margin-top: 25px;

}
h3{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: white;
    text-align: center;
    /* margin-left: 470px; */
}
h3 a{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: white;
    text-decoration: none;
}
.content{
    display: inline-block;
    vertical-align: top;
    width: 940px;
    background-color: rgba(34, 34, 34, 0.7);
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    min-height: 450px;
}
p a{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: white;
    text-decoration: none;
    font-size: 30px;
}
p{
    margin-top: 20px;
}